/* TODO: 
  [_] style code snippets */


/* ================================================================== base == */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

header h1 {
  margin: 1rem 0 0;
  font-family: "Space Mono", monospace;
  font-size: 5rem;
  line-height: .9;
  text-align: center;
}

header p {
  font-size: 1rem;
}

hr {
  margin: 5rem auto;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  border-radius: 50%;
  background-color: black;
}

  hr:after {
    content: "\00d7";
    position: relative;
    top: -.4rem;
    left: .3rem;
    color: white;
    font-family: "Space Mono", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
  }



/* =============================================================== utility == */






/* ================================================================ tables == */
table {
  width: 60rem;
  min-width: 37.5rem;
  max-width: 100%;
  margin: 3rem auto;

  table-layout: fixed;

  /* border: 2px solid black; */
  border-collapse: collapse;

  font-size: .75rem;
  letter-spacing: 1px;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 60%;
}

td, th {
  /* padding: .5rem 1rem; */
  padding: .25rem .5rem;
  vertical-align: top;
  /* border: 1px solid rgb(190, 190, 190); */
}

th {
  background-color: black;
  color: white;
  text-align: left;
  /* background-color: rgb(235, 235, 235); */
}

td {
  /* text-align: center; */
  transition: transform 200ms ease;
}

  td:hover {
    outline: 1px solid silver;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    transform: scale(1.015); /* not totally sure how I feel about this one... */
  }

tr {
  border-bottom: 1px solid whitesmoke;
}

  tr:last-of-type {
    border-bottom: 2px solid black;
  }

  tbody tr:hover {     
    background-color: whitesmoke;
  }

tr:nth-child(even) td {
  /* background-color: rgb(250, 250, 250); */
}

tr:nth-child(odd) td {
  /* background-color: rgb(245, 245, 245); */
}

caption {
  /* padding: 10px; */
  /* font-size: 1rem; */
  font-weight: bold;
  /* text-align: left; */
  text-transform: uppercase;
}




/* ============================================================= arbitrary == */
.title-cross {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-right: .25rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-weight: bold;

  transition: transform 1s ease-in-out;
}

  .title-cross:hover {
    transform: rotate(405deg);
  }



















