<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="full-hero hero-home">
    <h1>I'm an h1</h1>

    <ul class="social-list">
      <li><a href="#" class="social-link">FB</a></li>
      <li><a href="#" class="social-link">X</a></li>
      <li><a href="#" class="social-link">GH</a></li>
    </ul>
  </div>

  <h2>I'm an h2</h2>

  <div class="bio-wrapper">
    <div class="bio-box">
      <img src="https://baconmockup.com/400/400" alt="meat">
      <h3>Michael Hartl</h3>
      <a href="#" class="social-link">X</a>
      <div class="bio-copy">
        <p>Known for his dazzling charm, rapier with, and unrivaled humility, Michael is the creator of the <a href="#">Ruby on Rails Tutorial</a> and principal author of the <a href="#">Learn Enough to Be Dangerous</a> introductory sequence. Michael is also notorious as the founder of <a href="#">Tau Day</a> and the author of <a href="#"><em>The Tau Manifesto</em></a>, but rumors that he's secretly a supervillain are slightly exaggerated.</p>
      </div>
    </div>

    <div class="bio-box">
      <img src="https://baconmockup.com/400/400" alt="meat">
      <h3>Lee Donahoe</h3>
      <a href="#" class="social-link">X</a>
      <div class="bio-copy">
        <p>When he's not literally swimming with sharks or hunting powder stashes on his snowboard, you can find Lee in front of his computer designing interfaces, doing front-end development, or writing some of the interface-related Learn Enough tutorials.</p>
      </div>
    </div>

    <div class="bio-box">
      <img src="https://baconmockup.com/400/400" alt="meat">
      <h3>Nick Merwin</h3>
      <a href="#" class="social-link">X</a>
      <div class="bio-copy">
        <p>You may have seen him shredding guitar live with Capital Cities on Jimmy Kimmel, Conan, or The Ellen Show, but rest assured Nick is a true nerd at heart. He's just as happy shredding well-spec'd lines of code from a tour bus as he is from his kitchen table.</p>
      </div>
    </div>
      
    <div class="bio-box">
      <img src="https://baconmockup.com/400/400" alt="meat">
      <h3>???</h3>
      <p>The Future</p>
    </div>
  </div>

  <p>HTML, which stands for HyperText Markup Language, is the standard language used to create and design web pages. It provides the structure and layout for content on the internet. HTML consists of a series of elements that define the different parts of a webpage, such as headings, paragraphs, images, links, and more.</p>

  <p>When writing HTML, developers use tags to mark different elements on the page. Tags are enclosed in angle brackets, with the opening tag indicating the start of an element and the closing tag indicating the end. For example, the <code>&lt;p&gt;</code> tag is used to define a paragraph, with the content of the paragraph placed between the opening and closing tags.</p>

  <p>HTML is a versatile language that allows developers to create interactive and dynamic web pages. By combining HTML with CSS (Cascading Style Sheets) and JavaScript, developers can enhance the appearance and functionality of their websites. HTML5 is the latest version of HTML, introducing new features like native multimedia support, new structural elements, and improved form controls.</p>
</body>
</html>